<html command="window-caption">
<head>
  <link rel="stylesheet" href="styles/windowBorder.css" />
  <link rel="stylesheet" href="styles/global.css" />
  <link rel="stylesheet" href="styles/default.css" />
</head> 
<body> 
    <include src="windowBorder.html" /> 
    <div class="main-left-container" ><div class="main-left">
        <div class="left-menu-container">
            <li title="插件总览" class="left-menu" target="panel_preview" selected="true"><span>插件总览</span></li>
            <li title="团队事件监控" class="left-menu" target="panel_j3ui"><span>团队事件监控</span></li>
            <li title="YYL超级宏" class="left-menu" target="panel_yylmacro"><span>YYL超级宏</span></li>
            <li title="交易行助手" class="left-menu" target="panel_jx3auction"><span>交易行助手</span></li>
            <li title="海鳗插件" class="left-menu" target="panel_haiman"><span>海鳗插件</span></li>
            <li title="多玩盒子" class="left-menu" target="panel_jx3box"><span>多玩盒子</span></li>
            <li title="關於" class="left-menu" target="panel_about"><span>關於</span></li>
        </div>
    </div></div>
    <div class="main-right-container" style="background-color:#000">
        123
    </div>
    <div class="main-right-container">
        <div class="main-right-panel" right-panel>
            <include src="SettingPanel.html" /> 
            <div name="panel_preview" selected="true">
                <div class="panel_content">
                    <include src="plugin/main.html" /> 
                </div>
            </div>
            <div name="panel_j3ui">
                <div class="panel_content">
                    <include src="plugin/j3ui.html" /> 
                </div>
            </div>
            <div name="panel_yylmacro">
                <div class="panel_content">
                    <h5>上网浏览</h5>
                </div>
            </div>
            <div name="panel_jx3auction">
                <div class="panel_content">
                    <h5>电子文档</h5>
                </div>
            </div>
            <div name="panel_haiman">
                <div class="panel_content">
                    <h5>电子表格</h5>
                </div>
            </div>
            <div name="panel_jx3box">
                <div class="panel_content">
                    <h5>幻灯片</h5>
                </div>
            </div>
            <div name="panel_about">
                <div class="panel_content">
                    <h5>数据库管理</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="f_cls"></div>
</body>
</html>